[submodule "sites/ContentHub"]
	path = sites/ContentHub
	url = https://github.com/Anzumana/ContentHub.git
[submodule "sites/public_html"]
	path = sites/public_html
	url = https://github.com/Anzumana/public_html
[submodule "sites/overwatch"]
	path = sites/overwatch
	url = https://github.com/Anzumana/overwatch
[submodule "sites/react-app"]
	path = sites/react-app
	url = https://github.com/Anzumana/react-app
[submodule "sites/anzumana-com"]
	path = sites/anzumana-com
	url = https://github.com/Anzumana/anzumana-com
[submodule "sites/dance-community"]
	path = sites/dance-community
	url = http://github.com/Anzumana/dance_community
